     
      a{
        font-weight: bold;
        color: black;
        text-decoration: none;
      }
     h1 {
        border-bottom: 5px solid gray;
        margin: 0;
        padding: 20px;
        font-weight: bold;
        font-size: 100px;
        text-align: center;
      }
      #grid {
        display: grid;
        grid-template-columns: 150px  1fr;
      }  
      #grid > ol {
        border-right: 5px solid gray;
        width: 100px;
        margin: 0;
        padding: 30px;
      }
      #memo {
        padding: 28px;
      }
      @media (max-width: 800px) {
        #grid {
          display: block;
        }
        #grid ol {
          display: none;
        }
      }
      .overlay {
        background-attachment: fixed;
        background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
        background-position-y: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        opacity: 1;
        position: absolute;
        top: 0px;
        transition: opacity 0.3s linear 0s;
        width: 100%;
        }