
* {
    font-family: "Krub", sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
  }
  a{
    color: #fbff00;
    size: 14px;
    font-weight:100px;
  }
  .wrap{
    background-color: rgb(22, 22, 24);
  }
  #intro_bg{
    background-image:url("car.gif");
    opacity: 1;
    width: 1450px;
    height: 850px;    
    margin: auto;          
  }

  .header{
    /* flex 는 가로로 묶자 */
    display: flex; 
    width: 1280px;
    margin: auto;
    height: 86px;
  }  
  h1{
    color: #fbff00;
    size: 48px;
    font-weight:100px;
  }
  .contents_1{
    color: #fbff00;
    size: 20px;
    font-weight:100px;
  }
  .contents_2{
    color: #fbff00;
    size: 30px;
    font-weight:100px;
  }
  .contents_1_bold{
    color: #fbff00;
    size: 18px;
    font-weight:bold;
  }
  .result{
    font-size: 14px;
    color: #fbff00;
  
  }
  .result #current_date,#current_date_T{
    color:#fbff00;
  }
  .result #term,#term_T{
    color:#fbff00;
  }
  .result #term_second,#term_second_T{
    color:#fbff00;
  }
  .searchArea{
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;

  }
  .searchArea > form{
    border: 1px solid #fbff00;
  }
  .searchArea > form > input{
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0);
    color: #fbff00;
    padding-left:10px;

    
  }.searchArea > form > span{
    width: 50px;
    color: #fbff00;
  
    cursor: pointer;
   

  }
  .nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);

  }
  /*네비의 li 태그*/
  .nav>li{
    margin-left: 84px;

  }
  .nav>li>a{
    color: #fbff00;
  }

  .Page{
    width: 100%;
    margin: 50px auto 231px auto;
    text-align: center;

  }
  .Page > h1{
    color: #fbff00;
    
  }
  .amount{
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
  
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin: auto;
  }
  .amount>li{
    flex:1;
    background: rgb(0, 0, 0);
    height: 132px;
  }
  .amount>li>div{
  text-align: center;
  margin-top: 25px;
  height: 57px;
  font-weight: bold;
  }
  .amount > li:not(:last-child){
    margin-right: 10px ;
  }

  .main_text0{
 
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: rgb(22, 22, 24)
  }
  .main_text0 > h1{
    padding-top: 116px;
    text-align: center;
    color: #fbff00;


  }
  .main_text0 > .contents_1{
    text-align: center;
  }
  .icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
  }

  .icons > li{
    flex: 1;
    background: rgb(0, 0, 0);
    margin-top: 40px;
    height: 302px;
    text-align: center;

  }

  .icons >li .icon_img{
    color: rgb(167, 124, 6);
    margin-top: 36px;
  }
  .icons > li:not(:last-child){
    margin-right: 20px;
  }

.icons .contents_1{
  width: 350px;
  height: 180px;
  margin: auto;
  letter-spacing: -1px;
  text-align: left;
}

.more{
  width: 100px;
  line-height: 20px;
  background:rgb(128, 96, 34);
  color: white;
  font-size: 14px;
  margin: auto;
  font-weight: bold;
}

.contents_1 > .texts{
color: rgb(198, 255, 66);
}
.main_text1{

  width: 100%;
  height: 659px;
  background-color: rgb(22, 22, 24);
}
.main_text1 > h1{
  padding-top: 50px;
  text-align: center;
}
.main_text1 >.contents_1{
  text-align: center;
}
.amount_2{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1280px;
  border: 0px;
  box-shadow: 0px 0px -10px rgba(0,0,0,0.5);
  margin: auto;
}
.amount_2>li{
  flex:1;
  background: rgb(0, 0, 0);
  height: 132px;
}
.amount_2>li>div{
text-align: center;
margin-top: 25px;
height: 57px;
font-weight: bold;
}
.amount_2 > li:not(:last-child){
  margin-right: 10px ;
}

.service{
  width: 1280px;
  display: flex;
  margin: 49px auto;
  height: 427px;

}
.main_text2{
  width: 100%;
  height: 418px;
  background-image: url("master.png");
}
.main_text2> ul{
  display: flex;
  padding-top:138px;
}
.main_text2> ul>li{
  flex: 1;
  text-align: center;
}
.main_text2>ul>li>h1,
.main_text2>ul>li>div{
  color: white;
}
.more2{
  width: 220px;
  height: 40px;
  border: 1px solid white;
  line-height: 40px;
  cursor: pointer;
  margin: 16px auto;
}
footer{
  font-size: 8px;
  display: flex;
  background:black;
  padding: 30px;
}
footer > div:first-child{
  flex:3;
  text-align: center;
  color: rgb(167, 150, 150);
}
footer > div:last-child{
  flex:9;
  color: rgb(167, 150, 150);
}
#newtask{
  margin-top: 5px;

  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
#newtask input{
  width: 72.5%;
  height: 5px;
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  border: 2px solid rgb(219, 219, 93);
  padding: 12px;
  color: rgb(219, 219, 93);
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  background-color: black;
}
#newtask input:focus{
  outline: none;
  border-color: rgb(219, 219, 93);
}
#newtask button{
  float: right;
  width: 18.1%;
  height: 33px;
  border-radius: 5px;
  font-family:'Popins',sans serif;
  font-weight: bold;
  font-size: 13px;
  background-color:  rgb(219, 219, 93);
  color:black;
  cursor: pointer;
}
#tasks{
  padding-top: 2px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  width: 350px;
  color: yellow;
}
.task{
  height: 20px;
  padding: 3px 4px;
  margin-top: 10px;
  font-size:13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px;
  cursor: pointer;
  color: rgb(219, 219, 93);
}
#taskname{
  color: rgb(219, 219, 93);
}
.task span{
  font-family: 'Popins', sans-serif;
  font-size:13px;
  font-weight: 400;
}
.task button{
  background-color: black;
  color: black;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.completed{
  text-decoration: line-through;

}